Django==1.4.2
Markdown==2.1.1
PyYAML
Pygments==1.4
South==0.7.6
django-extensions==0.9
gunicorn==0.13.4
psycopg2==2.4.4
pytz==2012c
requests==1.0.4
unittest2==0.5.1
wsgiref==0.1.2
yolk==0.4.1
factory-boy==2.1.1
dj-database-url==0.2.1
