Django==1.11.23
Markdown==2.3.1
PyYAML==3.10
Pygments==1.6
South==0.8.4
dj-database-url==0.2.2
django-extensions==1.2.5
django-sslify==0.2.2
django-storages==1.1.8
djangorestframework==2.3.12
factory-boy==2.2.1
gunicorn==18.0
psycopg2==2.5.1
pytz==2013.8
requests==2.1.0
six==1.4.1
unittest2==0.5.1
wsgiref==0.1.2
yolk==0.4.3
