{% if is_paginated %}
<div class="pagination pagination-right">
  <ul>
    <li{% if not page_obj.has_previous %} class="disabled"{% endif %}><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
    {% for page in paginator.page_range %}
    <li{% if page == page_obj.number %} class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
    {% endfor %}
    <li{% if not page_obj.has_next %} class="disabled"{% endif %}><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
  </ul>
</div>
{% endif %}

