{% extends "base.html" %}
{% block body %}

{% include "header.html" %}

{% if form.errors %}
<p style="color: red">Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url accounts:login %}">
{% csrf_token %}
<table>
<tr>
    <td>E-mail Address</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url accounts:profile %}{% endif %}" />
</form>
{% endblock %}
