{% extends "base.html" %}
{% block body %}

{% include "header.html" %}

<strong>My Profile</strong> (<a href="{% url accounts:edit %}">Edit</a> | <a href="{% url accounts:password_change %}">Change Password</a>)<br>
Username: {{ user.username }}<br>
Email: {{ user.email }}<br>

<br>
<strong>Activity Log</strong><br>
{% for item in user.activity_receiver.all|slice:":5" %}
    <a href="{% url accounts:user slug=item.receiver.username %}">{{ item.receiver.username }}</a> {{ item.message|safe }} <a href="{{ item.url }}">View details</a><br>
{% endfor %}

<br>
<strong>My Projects</strong> (<a href="{% url projects:new %}">New</a>)<br>
{% for project in user.project_set.all %}
    (<a href="{% url accounts:project-edit username=user.username slug=project.slug %}">Edit</a>) <a href="{% url accounts:project user.username project.slug %}">{{ project }}</a><br>
{% endfor %}

<br>
<strong>Group Members</strong> (<a href="{% url accounts:group %}">Details</a>) (<a href="{% url accounts:group-withdraw %}">Withdraw from Group</a>)<br>
{% include "groups/members_snippet.html" with group=user.member_of_group_set.all|first %}


{% endblock %}

